.container {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
}

.label {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: normal;
    color: var(--color-foreground);
}

.inputWrapper {
    position: relative;
}

.input {
    display: flex;
    height: 2.5rem;
    width: 100%;
    border-radius: var(--radius);
    border: 1px solid var(--color-input);
    background-color: var(--color-background);
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    transition: all 150ms ease-in-out;
}

.input::placeholder {
    color: var(--color-muted-foreground);
}

.input:focus-visible {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
    border-color: var(--color-primary);
}

.input:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    background-color: var(--color-slate-100);
}

.errorInput {
    border-color: #ef4444;
}

.errorInput:focus-visible {
    outline-color: #ef4444;
    border-color: #ef4444;
}

.errorMessage {
    font-size: 0.75rem;
    color: #ef4444;
    font-weight: 500;
}